.bg-1 {
  background-color: var(--color-bg4);
}
.bg-2 {
  background-color: var(--color-bg2);
}
.bg-3 {
  background-color: var(--color-bg3);
}
.home__container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, minmax(206px, 320px));
  grid-template-rows: repeat(5, 320px);
  grid-auto-rows: 320px;
  gap: 30px;
  box-sizing: border-box;
}
@media (min-width: 1281px) and (max-width: 1440px) {
  .home__container {
    grid-template-columns: repeat(5, 1fr);
    gap: 30px;
  }
}
@media (min-width: 1025px) and (max-width: 1280px) {
  .home__container {
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .home__container {
    grid-template-columns: repeat(3, minmax(215px, 270px));
    gap: 25px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .home__container {
    grid-template-columns: repeat(2, minmax(194px, 260px));
    gap: 20px;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  .home__container {
    justify-content: center;
    grid-template-columns: repeat(1, 285px);
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: 30px;
  }
}
